[Unit]
Description=Carbonio Workstream Collaboration database sidecar
Documentation=https://docs.zextras.com/
Requires=network-online.target
After=network-online.target
PartOf=carbonio.target

[Service]
User=carbonio-ws-collaboration-db
ExecStart=/usr/bin/consul connect envoy \
    -token-file /etc/carbonio/ws-collaboration-db/service-discover/token \
    -admin-bind localhost:0 \
    -sidecar-for carbonio-ws-collaboration-db
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=15
KillSignal=SIGINT
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
